<div class="container">
    <ul>
        <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
    <%= render 'form',article: @article %>
</div>